h1{

    color: black;
    text-align: center;
    }
    label{
    
    color:black;
    width: 10%;
    display: inline-block;
    
    }
    body{
    margin: 0 auto;
    font-family: arial;
    }
    
    #container{
    
    
    padding: 40px;
    width: 60%;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
    }
    .getinput{
    
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 30px;
    text-align: center;
    
    }
