<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
    </head>
    
<form action="/myactivities" >
    <body>
    <div id="container">
      <h1>Login Page</h1>
      <div class="getinput">
      <label for="userid"><b>Userid</b></label>
      <input type="text" placeholder="Enter Userid" name="userid" required>
      </div>
      <div class="getinput">
    <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
      </div>
      <div style="text-align:center">
      <button type="submit" class="registerbtn" routerLink = "/myactivities" routerLinkActive="active">Login
      </button>
      </div>
    </div>
  </body>
</form>
  </html>

