h1{

    color:red;
    text-align: center;
    }
    label{
    
    color:black;
    width: 10%;
    display: inline-block;
    
    }
    body{

    font-family: arial;
    }
    
    #container{
    
    
    padding: 40px;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    }
    
    .getinput{
    
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 30px;
    text-align:center;
    
    }