<html>
   <head>
   </head>
   <body>
   <h1 style="text-align: center; color: red;">ACTIVITIES</h1>
   <div>
   <h2 style="text-align: center;">Activities</h2>
   <button style="right: 48%; top: 70%"><a routerLink = "/leave" routerLinkActive="active">Apply for leave </a></button>
   </div>
   <div> 
   <h2 style="text-align: center;">Activities</h2>
   <button style="right: 48%; top: 90%"><a routerLink = "/attendence" routerLinkActive="active">ATTENDENCE </a></button>  
   </div>
   <router-outlet></router-outlet>
</body>
</html>