<html>
   <head>

      <style>
         h1{
            color:red;
            text-align: center;
         }
         </style>
   </head>
   <body>
      <img src="logo.png" height="50" width="400">
<h1><font size="12">HR-APP</font></h1> 
<nav> 
   <ul>
   <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
<li><a routerLink = "/register" routerLinkActive="active">Register</a></li>
   <li><a routerLink = "/login" routerLinkActive="active">Login </a></li>
   </ul>
  </nav>
<router-outlet></router-outlet>
</body>
</html>