<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registration</title>
        
        
    </head>
    <body>
<form>
    <div id="container">
      <h1>Registration Page</h1>
      <div class="getinput">
      <label for="userid"><b>Userid</b></label>
      <input type="text" placeholder="Enter Userid" name="userid" required>
      </div>
      <div class="getinput">
      <label for="username"><b>Name</b></label>
      <input type="text" placeholder="Enter Name" name="username" required>
      </div>
      <div class="getinput">
       <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
      </div>   
      <div class="getinput">
    <label for="psw"><b>Password</b></label>
    <input pPassword type="password" placeholder="Enter Password" name="psw" required>
      </div>
      <div class="getinput">
  <label for="confirmpsw"><b>Confirm Password</b></label>
      <input type="password" placeholder="Confirm Password" name="confirmpsw" required>
      </div>
      <div class="getinput">
      <label for="phoneno"><b>Phone Number</b></label>
      <input type="number" placeholder="Enter Phoneno" name="phoneno" required>
      </div>
      <div style="text-align:center">
      <button type="submit" class="registerbtn">Register</button>
      </div>
    </div>
    
  </form>
  </body>
  </html>
